@font-face {
  font-family: "PT Sans";
  src: url("font/PTSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("font/PTSans-Regular.ttf") format("truetype");
  font-display: swap;
}