$basic-black: #000;
$basic-dark: #333333;
$basic-gray: #e6e6e6;
$basic-light: #f2f2f2;
$basic-white: #fff;
$special-warm-light: #756257;
$special-warm-dark: #615048;
$special-neutral-light: #7db54f;
$special-neutral-dark: #6c9e42;
$special-cold-light: #83b3d3;
$special-cold-light20: rgba($special-cold-light, 0.2);
$special-cold-light12: rgba($special-cold-light, 0.12);
$special-cold-dark: #68a2ca;
$status-error: #ff5757;
$status-warning: #fd922e;
$status-success: #7db550;
