@charset "UTF-8";
@font-face {
  font-family: "PT Sans";
  src: url("font/PTSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("font/PTSans-Regular.ttf") format("truetype");
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.page__body {
  min-height: 100vh;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  background-color: #f2f2f2;
  color: #333333;
}
.page__body--overflow {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.button {
  display: inline-block;
  padding: 10px 29px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}
.button--accent {
  background-color: #756257;
}
.button--accent:focus {
  background-color: #615048;
  outline-color: #83b3d3;
}
.button--accent:hover {
  background-color: #615048;
}
.button--accent:active {
  color: rgba(255, 255, 255, 0.3);
}
.button--secondary {
  background-color: #83b3d3;
}
.button--secondary:focus {
  background-color: #68a2ca;
  outline-color: #756257;
}
.button--secondary:hover {
  background-color: #68a2ca;
}
.button--secondary:active {
  color: rgba(255, 255, 255, 0.3);
}
.button--tertiary {
  background-color: #7db54f;
}
.button--tertiary:focus {
  background-color: #6c9e42;
  outline-color: #756257;
}
.button--tertiary:hover {
  background-color: #6c9e42;
}
.button--tertiary :active {
  color: rgba(255, 255, 255, 0.3);
}

.input {
  display: inline-block;
  padding: 18px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  border: none;
}
.input::-moz-placeholder {
  font-weight: normal;
}
.input::placeholder {
  font-weight: normal;
}
.input--basic {
  background-color: #f2f2f2;
}
.input--basic:hover {
  background-color: #e6e6e6;
}
.input--basic:focus {
  background-color: #e6e6e6;
  outline-color: #83b3d3;
}
.input--basic:active {
  background-color: #fff;
  outline-color: #000;
}
.input--error {
  border: 2px solid #ff5757;
}

.main-header__wrapper {
  padding: 0 72px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  min-height: 65px;
}

.site-navigation__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.site-navigation__link {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  padding: 20px 0;
}
.site-navigation__link--current {
  position: relative;
}
.site-navigation__link--current::before {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #756257;
}
.site-navigation__link:hover {
  color: #756257;
}
.site-navigation__link:focus {
  outline-color: #83b3d3;
  border-radius: 10px;
}
.site-navigation__link:active {
  color: rgba(117, 98, 87, 0.3);
}

.main-header__logo {
  justify-self: center;
  align-self: start;
  border-radius: 10px;
}

.main-logo {
  position: relative;
  width: 138px;
}

.main-logo__img {
  position: absolute;
}

.main-header__user {
  justify-self: end;
  position: relative;
}

.user-navigation__search {
  margin-right: 21px;
  padding: 20px 0;
  border: none;
  background-color: #fff;
}
.user-navigation__search:hover path {
  fill: #756257;
}
.user-navigation__search:focus {
  outline-color: #83b3d3;
  border-radius: 10px;
}
.user-navigation__search:focus path {
  fill: #756257;
}
.user-navigation__search:active path {
  fill: rgba(117, 98, 87, 0.3);
}

.user-navigation__favorites {
  position: relative;
  margin-right: 33px;
  padding: 20px 0;
  border: none;
  background-color: #fff;
}
.user-navigation__favorites::before {
  position: absolute;
  top: 15%;
  right: -50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  content: "12";
  width: 19px;
  height: 19px;
  font-weight: 400;
  font-size: 10px;
  background-color: #7db54f;
  color: #fff;
  border-radius: 50%;
}
.user-navigation__favorites:hover path {
  fill: #756257;
}
.user-navigation__favorites:focus {
  outline-color: #83b3d3;
  border-radius: 10px;
}
.user-navigation__favorites:focus path {
  fill: #756257;
}
.user-navigation__favorites:active path {
  fill: rgba(117, 98, 87, 0.3);
}

.user-navigation__button {
  padding-left: 27px;
  padding-right: 26.5px;
}

.poppap {
  position: absolute;
  display: none;
}
.poppap--active {
  display: block;
}

.favorites-poppap {
  top: 45px;
  right: 0;
  width: 400px;
  border-radius: 20px;
}
.favorites-poppap::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 9px;
  background-color: #fff;
  -webkit-clip-path: path("M10 1L20 10H0L10 1Z");
          clip-path: path("M10 1L20 10H0L10 1Z");
}

.favorites-poppap__list {
  margin: 0;
  padding: 25px;
  list-style: none;
  background-color: #fff;
}

.favorites-poppap__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.favorites-poppap__wrapper-item {
  display: grid;
  grid-template-columns: auto 1fr;
  -moz-column-gap: 17px;
       column-gap: 17px;
  text-decoration: none;
}
.favorites-poppap__wrapper-item:hover {
  opacity: 0.6;
}
.favorites-poppap__wrapper-item:focus {
  opacity: 1;
  outline-color: #83b3d3;
  border-radius: 10px;
}
.favorites-poppap__wrapper-item:active {
  opacity: 0.3;
}

.favorites-poppap__img {
  grid-row: 1/span 2;
  align-self: center;
  border-radius: 50%;
}

.favorites-poppap__title {
  width: 244px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000;
}

.favorites-poppap__text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.favorites-poppap__trash {
  align-self: start;
  opacity: 0.2;
  background-color: #fff;
  border: none;
}
.favorites-poppap__trash:hover {
  opacity: 1;
}
.favorites-poppap__trash:focus {
  opacity: 1;
  outline-color: #83b3d3;
  border-radius: 10px;
}
.favorites-poppap__trash:active {
  opacity: 0.1;
}

.favorites-poppap__button {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0px 0px 20px 20px;
}

.promo {
  min-height: 526px;
  padding-top: 55px;
  display: grid;
  background-image: url(../img/promo/promo__background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.promo__slogan {
  justify-self: center;
}

.promo__poligon {
  width: 100%;
  height: 62px;
  background-color: #fff;
  align-self: end;
  -webkit-clip-path: path("M0 62.1016V0.271118L250 26.305V0.271118L600 62.1016L950 0.271118V26.305L1200 0.271118V62.1016H0Z");
          clip-path: path("M0 62.1016V0.271118L250 26.305V0.271118L600 62.1016L950 0.271118V26.305L1200 0.271118V62.1016H0Z");
}

.features {
  text-align: center;
}

.features__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 384px);
}

.features__item:nth-child(even),
.services__item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.features__item:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
  color: #fff;
  background-color: #83b3d3;
}

.features__item:nth-child(5) {
  grid-column: 3/4;
  grid-row: 3/4;
  color: #fff;
  background-color: #83b3d3;
}

.features__item:nth-child(7) {
  background-color: rgba(131, 179, 211, 0.2);
}

.features__photo {
  grid-column: 2/4;
  grid-row: 1/2;
}

.features__photo:nth-child(4) {
  grid-column: 1/3;
  grid-row: 3/4;
}

.features__tagline {
  display: block;
  padding: 0;
  margin: 0 auto;
  margin-top: 63px;
  margin-bottom: 23px;
  width: 720px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
}

.features__text-promo {
  padding: 0;
  margin: 0;
  margin-bottom: 79px;
  font-size: 22px;
  line-height: 36px;
}

.features__title {
  padding: 0;
  margin: 0;
  margin-top: 98px;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.features__text {
  padding: 0;
  margin: 0;
  margin: 0 auto;
  width: 220px;
  font-size: 18px;
  line-height: 21px;
}

.features__span {
  display: inline-block;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 21px;
}

.services__list {
  grid-column: 1/-1;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 384px);
  padding: 0;
  margin: 0;
  list-style: none;
}

.services__item {
  padding-top: 89px;
}

.services__title {
  padding: 0;
  margin: 0;
  margin-top: 23px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.services__text {
  padding: 0;
  margin: 0;
  margin: 0 auto;
  width: 250px;
}

.mailing-list {
  padding: 91px 0;
}

.mailing-list__wrrapper {
  text-align: center;
  width: 576px;
  margin: 0 auto;
}

.mailing-list__tagline {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.mailing-list__description {
  margin: 0;
  margin-bottom: 57px;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
}

.mailing-list__button {
  width: 100%;
  font-size: 20px;
  line-height: 36px;
  border-radius: 10px;
}

.booking {
  min-height: 411px;
  background-image: url(../img/booking/booking__background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.booking--catalog {
  background-image: none;
}
.booking--catalog .booking__wrapper {
  color: #000;
}

.booking__wrapper {
  width: 800px;
  margin: 0 auto;
  padding: 94px 0;
  color: #fff;
  text-align: center;
}

.booking__title {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.booking__description {
  margin: 0;
  margin-bottom: 72px;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
}

.booking__form {
  display: flex;
}

.booking__email {
  border-radius: 10px 0px 0px 10px;
  flex-grow: 1;
}

.booking__submit {
  width: 200px;
  border-radius: 0px 10px 10px 0px;
}

.main-footer {
  min-height: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 40px 72px 30px;
}

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.social__item {
  margin-right: 30px;
}

.social__link {
  text-decoration: none;
  padding: 10px;
}
.social__link:hover path {
  fill: #68a2ca;
}
.social__link:focus {
  outline-color: #83b3d3;
  border-radius: 10px;
}
.social__link:focus path {
  fill: #68a2ca;
}
.social__link:active {
  opacity: 0.3;
}

.main-footer__tel {
  padding: 10px;
  justify-self: center;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
.main-footer__tel:hover {
  color: #756257;
}
.main-footer__tel:focus {
  color: #756257;
  outline-color: #83b3d3;
  border-radius: 10px;
}
.main-footer__tel:active {
  color: rgba(117, 98, 87, 0.3);
}

.main-footer__copyright {
  padding: 10px;
  justify-self: end;
}
.main-footer__copyright:hover path {
  fill: #756257;
}
.main-footer__copyright:focus {
  outline-color: #83b3d3;
  border-radius: 10px;
}
.main-footer__copyright:focus path {
  fill: #756257;
}
.main-footer__copyright:active {
  opacity: 0.3;
}

.page__overlay {
  display: none;
  background-color: rgba(242, 242, 242, 0.8);
  overflow: auto;
}
.page__overlay--active {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

.modal {
  position: relative;
  margin: auto;
  display: none;
  background-color: #fff;
  flex-shrink: 0;
  flex-grow: 0;
}
.modal--active {
  display: block;
}

.modal-booking {
  width: 715px;
  padding-top: 40px;
  padding-bottom: 92px;
  padding-left: 57px;
  padding-right: 81px;
  box-sizing: border-box;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-booking__title {
  grid-column: 1/-1;
  grid-row: 1/2;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000;
}

.modal-booking__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: #000;
}

.modal-booking__input {
  position: relative;
  border: none;
  background-color: #f2f2f2;
  padding: 10px 19px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  height: 50px;
}

.modal-booking__button {
  grid-column: 1/-1;
  border-radius: 6px;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
}

.modal-booking__form {
  display: grid;
  grid-template-columns: 155px 133px 155px 133px;
  row-gap: 40px;
}

.modal-booking__label:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: center;
}

.modal-booking__label:nth-child(4) {
  grid-column: 1/2;
  grid-row: 3/4;
  align-self: center;
}

.modal-booking__label:nth-child(6) {
  grid-column: 1/2;
  grid-row: 4/5;
}

.modal-booking__label:nth-child(8) {
  grid-column: 3/4;
  grid-row: 4/5;
  justify-self: center;
}

.modal-booking__input:nth-child(3) {
  grid-column: 2/5;
  grid-row: 2/3;
}

.modal-booking__input:nth-child(5) {
  grid-column: 2/5;
  grid-row: 3/4;
}

.modal-booking__counter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #f2f2f2;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
}

.counter__minus,
.counter__plus {
  border: none;
  font: inherit;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__button {
  position: absolute;
  top: 32px;
  right: 81px;
  width: 53px;
  height: 53px;
  border: none;
  border-radius: 50%;
  background: #f2f2f2;
}
.modal__button:hover {
  background: #e6e6e6;
}
.modal__button:active {
  opacity: 0.5;
}

.filter {
  padding: 30px 71px 0;
  min-height: 408px;
  background-image: url(../img/filter/filter__background.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.filter__title {
  margin: 0;
  padding: 0;
  font-size: 60px;
  line-height: 78px;
}

.filter__breadcrumbs {
  margin-bottom: 45px;
}

.breadcrumbs {
  margin-left: 0;
  margin-top: 0;
  padding-right: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.breadcrumbs__item + .breadcrumbs__item {
  margin-left: 26px;
  position: relative;
}
.breadcrumbs__item + .breadcrumbs__item:before {
  content: "";
  position: absolute;
  bottom: 8px;
  left: -16px;
  display: block;
  width: 6px;
  height: 8px;
  -webkit-clip-path: path("M4.79998 3.59999L0.999984 0.199988C0.799984 -1.22041e-05 0.399984 -1.22041e-05 0.0999836 0.199988C-0.200016 0.399988 -0.100016 0.799988 0.0999836 0.999988L3.39998 3.99999L0.199984 6.99999C-1.63764e-05 7.19999 -1.63764e-05 7.59999 0.199984 7.79999C0.199984 7.89999 0.499984 7.99999 0.599984 7.99999C0.699984 7.99999 0.899984 7.89999 0.999984 7.79999L4.79998 4.39999C5.09998 4.19999 5.09998 3.79999 4.79998 3.59999Z");
          clip-path: path("M4.79998 3.59999L0.999984 0.199988C0.799984 -1.22041e-05 0.399984 -1.22041e-05 0.0999836 0.199988C-0.200016 0.399988 -0.100016 0.799988 0.0999836 0.999988L3.39998 3.99999L0.199984 6.99999C-1.63764e-05 7.19999 -1.63764e-05 7.59999 0.199984 7.79999C0.199984 7.89999 0.499984 7.99999 0.599984 7.99999C0.699984 7.99999 0.899984 7.89999 0.999984 7.79999L4.79998 4.39999C5.09998 4.19999 5.09998 3.79999 4.79998 3.59999Z");
  background-color: #fff;
  opacity: 0.3;
}

.breadcrumbs__link {
  color: #fff;
  text-decoration: none;
  padding: 0px 8px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
}
.breadcrumbs__link:hover {
  opacity: 0.6;
}
.breadcrumbs__link:focus {
  opacity: 1;
  outline-color: #83b3d3;
}
.breadcrumbs__link:active {
  opacity: 0.3;
}

.filter-form {
  display: grid;
  grid-template-columns: 539px 360px 1fr;
}

.filter-form__column {
  display: flex;
}
.filter-form__column .filter-form__fieldset {
  margin-right: 67px;
}

.filter-form__fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.filter-form__legend {
  font-weight: bold;
  margin-bottom: 30px;
}

.filter-form__label {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 13px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}
.filter-form__label:last-child {
  margin-bottom: 0;
}

.filter-form__checkbox::before {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 4px;
}
.filter-form__checkbox--checked::after {
  position: absolute;
  content: "";
  display: block;
  left: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  background-color: #3f5e72;
  -webkit-clip-path: path("M11 0L4.5 7.4L1.1 3.5L0 4.7L4.5 9.9L12.2 1.3L11 0Z");
          clip-path: path("M11 0L4.5 7.4L1.1 3.5L0 4.7L4.5 9.9L12.2 1.3L11 0Z");
}
.filter-form__checkbox:hover::before {
  opacity: 0.6;
}
.filter-form__checkbox:focus::before {
  opacity: 1;
  outline-color: #83b3d3;
}
.filter-form__checkbox:active::before {
  opacity: 0.3;
}

.filter-form__radio::before {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
}
.filter-form__radio--checked::after {
  position: absolute;
  content: "";
  display: block;
  left: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
}
.filter-form__radio:hover::before {
  opacity: 0.6;
}
.filter-form__radio:focus::before {
  opacity: 1;
  outline-color: #83b3d3;
}
.filter-form__radio:active::before {
  opacity: 0.3;
}

.filter-form__fieldset .wrapper {
  display: flex;
  position: relative;
  font-size: 18px;
  line-height: 23px;
}
.filter-form__fieldset .wrapper::before {
  content: "от";
  position: absolute;
  top: 25%;
  left: 30%;
  opacity: 0.3;
}
.filter-form__fieldset .wrapper::after {
  content: "до";
  position: absolute;
  top: 25%;
  right: 25%;
  opacity: 0.3;
}

.filter-form__number {
  width: 145px;
  color: #fff;
  border: 2px solid #fff;
  background-color: transparent;
  margin-bottom: 20px;
  padding-left: 19px;
  padding-top: 14px;
  padding-bottom: 11px;
  padding-right: 14px;
  font-size: 18px;
  line-height: 23px;
  border-radius: 0px 4px 4px 0px;
}
.filter-form__number:first-child {
  border-right: none;
  border-radius: 4px 0px 0px 4px;
}
.filter-form__number::-moz-placeholder {
  color: #fff;
}
.filter-form__number::placeholder {
  color: #fff;
}
.filter-form__number:hover {
  border-color: rgba(255, 255, 255, 0.6);
}
.filter-form__number:focus {
  opacity: 1;
  outline-color: #83b3d3;
  box-shadow: 0px 0px 0px 3px #83b3d3;
}
.filter-form__number:active {
  background-color: #756257;
}

.range {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  align-items: center;
  width: 236px;
  position: relative;
}

.range__width {
  height: 4px;
  background: linear-gradient(to right, #fff 196px, rgba(255, 255, 255, 0.3) 196px 100%);
  width: 287px;
  position: absolute;
}

.range__button {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.range__button:focus {
  outline-color: #83b3d3;
}
.range__button:active {
  outline-color: #83b3d3;
}
.range__button:last-child {
  justify-self: end;
}

.filter-form__bottons {
  align-self: end;
  display: grid;
  grid-auto-rows: 48px;
}

.filter-form__submit,
.filter-form__reset {
  min-width: 160px;
}

.filter-form__reset {
  background-color: transparent;
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-transform: none;
  padding-top: 20px;
}
.filter-form__reset:hover {
  opacity: 0.6;
}
.filter-form__reset:focus {
  outline-color: #83b3d3;
}
.filter-form__reset:active {
  opacity: 0.3;
}

.catalog-list {
  padding: 40px 71px 30px;
}

.catalog-header {
  display: grid;
  grid-template-columns: 536px 361px 1fr;
  align-items: center;
  margin-bottom: 42px;
}

.catalog-header__title {
  grid-column: 1/2;
  padding: 0;
  margin: 0;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000;
}

.catalog-header__button {
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 287px;
  padding: 12px 19px;
  background-color: #fff;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}
.catalog-header__button:hover {
  border: 2px solid #83b3d3;
}
.catalog-header__button:active {
  border: 2px solid #e6e6e6;
  opacity: 0.3;
}

.catalog-header__button-text {
  padding: 0;
  margin: 0;
}

.catalog-header__sort-list {
  grid-column: 3/4;
}

.sort__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sort__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}
.sort__link:hover {
  border: 2px solid #83b3d3;
}
.sort__link:active {
  border: 2px solid #e6e6e6;
  opacity: 0.3;
}

.hotel__list {
  padding: 0;
  margin: 0;
  margin-bottom: 31px;
  list-style: none;
}

.hotel__item {
  display: grid;
  grid-template-columns: 536px 361px 1fr;
  padding-top: 31px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e6e6e6;
}

.hotel__item:last-child {
  border-bottom: 1px solid #e6e6e6;
}

.hotel__wrapper {
  grid-column: 1/2;
  display: flex;
}

.hotel__wrapper a {
  margin-right: 37px;
}

.hotel__wrapper img {
  height: 120px;
  width: 180px;
}
.hotel__wrapper img:hover {
  opacity: 0.6;
}
.hotel__wrapper img:active {
  opacity: 0.3;
}

.hotel__buttons .button:first-child {
  margin-right: 6px;
}

.hotel__title {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000;
  cursor: pointer;
}
.hotel__title:hover {
  color: #756257;
}
.hotel__title:active {
  opacity: 0.3;
}

.hotel__text-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hotel__text {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.hotel__raiting {
  grid-column: 3/4;
}

.raiting__list {
  padding: 0;
  margin: 0;
  margin-left: 34px;
  margin-bottom: 56px;
  display: flex;
  list-style: none;
}

.raiting__item {
  margin-right: 7px;
}

.raiting__info {
  padding: 0;
  padding-top: 9px;
  padding-bottom: 10px;
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
}

.hotel__button-wrapper {
  padding-bottom: 31px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e6e6e6;
}

.hotel__button {
  padding: 17px 238px;
}

.catalog-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 71px;
}

.pagination-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination-list li {
  margin-right: 8px;
}

.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #83b3d3;
  color: #fff;
}
.pagination__link:hover {
  background-color: #68a2ca;
}
.pagination__link:active {
  color: hsla(0deg, 0%, 100%, 0.3);
}

.pagination__current {
  background-color: #f2f2f2;
  color: #000;
}

.catalog-footer__counter {
  display: flex;
  align-items: center;
}

.counter__text {
  padding: 0;
  margin: 0;
  margin-right: 51px;
}

.counter__button-text {
  padding: 0;
  margin: 0;
}

.counter__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
  padding: 12px 17px;
  background-color: #fff;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}
.counter__button:hover {
  border: 2px solid #83b3d3;
}
.counter__button:active {
  border: 2px solid #e6e6e6;
  opacity: 0.3;
}
/*# sourceMappingURL=style.css.map */
